{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import",
    "unused-imports",
    "jest",
    "react-hooks",
    "jsx-a11y",
    "testing-library"
  ],
  "env": {
    "jest/globals": true,
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:testing-library/react"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "prefer": "type-imports" }
    ],
    "import/named": "error",
    "import/default": "error",
    "import/export": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "jsx-a11y/accessible-emoji": "warn",
    "no-unused-vars": "off",
    "prettier/prettier": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/react-in-jsx-scope": "off",
    "semi": "off",
    "unused-imports/no-unused-imports": "error"
  },
  "ignorePatterns": ["babel.config.js", "node_modules"]
}
